@charset "utf-8";
@import "variables";

main.compare{
}
header{
    padding: .6rem;
    background-color: $main-color;
    h2{
        text-align: center;
        margin-bottom: .6rem;
        font-weight: bold;
        color: white;
    }
    .btn-area{
        text-align: center;
        margin-bottom: .4rem;
        button{
            padding: .2rem 1rem;
            background-color: white;
            color: #bbb;
        }
    }
}
/* 検索値表示 */
ul.search-param-list{
    display: flex;
    height:inherit;
    justify-content: center;
    align-items: center;
    li{
        color: white;
        font-size: .9rem;
        &:not(:last-child){
            margin-right: .8rem;
        }
    }
}

.compare-table-area{
    padding: .3rem 0 4.3rem .3rem;
    display: flex;
    .col{
        display: flex;
        flex-basis: 170px;
        min-width:170px;
        max-width: 170px;
        flex-direction: column;
        border:1px solid #ddd;
        border-radius: 6px;
        margin-right: .2rem;
        overflow: hidden;
        .check-area{
            background-color: #EACE0A;
            padding:.5rem 0;

            color: white;
            font-weight: bold;
            text-align: center;
        }
        .row{
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px #EDDC64;
            &:not(:first-of-type){
                padding: 1.3rem .8rem;
            }
            h2,h3,h4,h5{
                font-weight: bold;
                font-size: 1.1rem;
                text-align: center;
                margin-bottom: 1rem;
            }
            h3{
                font-weight:normal;
                font-size: .8rem;
                &.plan-name{
                    margin-bottom: 0;
                }
            }
            h4 ~ div{
                line-height: 1.6;
                font-size: .8rem;
            }
        }
    }
}
.row.plan-option{
    border-bottom:none;
}

.company-name{
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 1.4rem;
    margin-bottom: .7rem;
    &::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: .7rem;

        background: url("../img/icon1.svg") center no-repeat;
    }
}

.price-area{
    flex:auto;
    padding-left: 2.2rem;
    .price{
        color: #f98e00;
        font-size: 1.1rem;
        margin-bottom: .1rem;
        &::after{
            content: "(税込)";
            display: inline-block;
            font-size: .8rem;
            color: #f98e00;
        }
    }
    .review-cnt {
        color: #eddc64;
        font-size: 1.2rem;
    }
    .review-title {
        font-size: .7rem;
        font-weight: bold;
    }
    .review-href {
        text-decoration: underline;
        color: dodgerblue;
    }
}

div.compare-table{
    border-radius: 2px;
    overflow: auto;
}
.item-top-area img{
    width: 200px;
    height: 200px;
}

.item-top-area {
    width: 160px;
}
.row.reserve{
    a{
        background-color: #F9B02D;
        display: inline-block;
        color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: .4rem 0;
        text-align: center;
    }
}

footer.reset-btn-area{
    padding: .5rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: white;
    z-index: 10;
    i{
        display: inline-block;
        width: .8rem;
        height: .8rem;
        background: url('../img/reset-icon.svg') center no-repeat;
        margin-right: .2rem;
    }
    button{
        display: flex;
        margin: 0 auto;
        align-items: center;

        background-color: #C6CCCC;
        padding: .2rem 1rem;
        font-size:.8rem;
        color: white;
        border: none;
        border-radius: 2rem ;
    }
}
